<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79caec">  <td>15/05/25 21:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.m1(java.lang.String)[pri:0, instance:com.SmokeTest@4c203ea1]">m1</td> 
  <td>TestNG@615892594</td>   <td></td> </tr>
<tr bgcolor="79caec">  <td>15/05/25 21:55:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.m1(java.lang.String)[pri:0, instance:com.SmokeTest@649d209a]">m1</td> 
  <td>TestNG@1507512920</td>   <td></td> </tr>
</table>
